<div class="row">
  <div class="col-sm-12">
    <div class="card" style="border-color: #FFF">
      <div class="card-block">
        <h3 class"card-title">Add a store:</h3>
        <form action="/" method="post">
          <div class="form-group">
            <label for="name"></label>
            <input type="text" name="name" class="form-control" autofocus required>
          </div>
          <button type="submit" class="btn btn-info" data-toggle="button">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card" style="border-color: #FFF">
      <div class="card-block">
        <h3 class="card-title">Store Locations:</h3>
        <% if @stores.any?() %>
        <ul>
          <% @stores.each do |store_name| %>
            <li><%= store_name.name %></a></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are no stores yet.</p>
      <% end %>
      </div>
    </div>
  </div>
</div>
