<div class="row">
  <div class="col-sm-12">
    <div class="card" style="border-color: #FFF">
      <div class="card-block">
        <h3 class"card-title">Update <%= @shoe.brand %></h3>
        <form action="" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <label for="name"></label>
            <input type="text" name="name" class="form-control" autofocus required>
          </div>
          <button type="submit" class="btn btn-info" data-toggle="button">Update</button>
        </form><br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card" style="border-color: #FFF">
      <div class="card-block">
        <% if @stores.any? %>
          <% @stores.each do |store| %>
            <div>
              <input type="checkbox" name="store" value="store.id">
              <label for="store"><%= store.name %></label>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
